/*
 *
 * General
 *
 */
:root {
    --color-info: rgb(150, 150, 150);
    --color-error: rgb(235, 0, 0);
    --color-success: rgb(13, 138, 40);
    --color-accept: rgb(255, 115, 0);
    --color-accept-hover: rgb(255, 160, 52);
    --color-cancel: rgb(138, 137, 137);
    --color-cancel-hover: rgb(168, 168, 168);
    --color-disabled: rgb(230, 230, 230);
    --color-theme1:  rgb(238, 115, 0);
    --color-theme2:  rgb(238, 115, 0);
    --color-theme-hover:rgb(255, 149, 28);
    --color-theme-border:rgb(255, 149, 28);
    --color-background: rgb(240, 240, 240);
    --color-link: rgb(0, 46, 196);
    --color-link-visited: rgb(155, 0, 155);
    --color-shadow: rgba(0, 0, 0);
    --max-width-doc: 900px;
    --min-width-doc: 300px;
    --header-height: 45px;
    --footer-height: 25px;
  }
* {
    margin: 0;
    padding: 0;
    font-family: Calibri, Arial;    
    box-sizing: border-box;
}
html, body {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-flow: column wrap;
    flex: 1;
    background: var(--color-background);
}
main {
    flex: 1;
    display: flex;
    flex-flow: column wrap;
}
@media only screen and (max-width: 700px) {
    body {
        /* font-size: 15px; */
    }
    .main {
        padding: 22px 20px;
    }
}
.hidden {
    display: none !important;
}
.admin {
    display: none !important;
}


/*
 *
 * Buttons
 *
 */
.button {
    cursor: pointer;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    font-size: 1.1rem;
    flex: 1;
}
.button.big {
    max-width: 200px;
    height: 40px;
}
.button.medium {
    max-width: 140px;
    height: 32px;
}
.button.small {
    max-width: 90px;
    height: 28px;
}
:disabled {
    cursor: default;
}
.accept         { background: var(--color-accept);        color: white; }
.accept:hover   { background: var(--color-accept-hover);  color: white; }
.cancel         { background: var(--color-cancel);        color: white; }
.cancel:hover   { background: var(--color-cancel-hover);  color: white; }
:disabled       { background: var(--color-disabled);      color: white; }
:disabled:hover { background: var(--color-disabled);      color: white; }


/*
 *
 * Links
 *
 */
a {
    color: inherit;
    text-decoration: none;
}
a:hover {
    font-weight: bold;
}
.link {
    text-decoration: none;
    color: var(--color-link);
}
.link:visited {
    color: var(--color-link-visited);
}
.link:hover {
    font-weight: bold;
    text-decoration: underline;
}
.icon {
    font-size: 30px;
    margin-right: 8px;
}


/*
 *
 * Forms
 *
 */
input,
textarea {
    padding: 5px 7px;
    border-radius: 5px;
    border: 1px solid var(--color-info);
}
input[type="text"],
input[type="password"],
input[type="date"] {
    font-size: 1rem;
    height: 28px;
}
label {
    display: block;
    font-size: 1.15rem;
    font-weight: bold;
    margin-bottom: 3px;
}
.section {              margin-bottom: 20px; }
.section:last-of-type { margin-bottom: 0; }
.bfi-label {
    cursor: pointer;
}


/*
 *
 * Distribution
 *
 */
.col {
    display: flex;
    flex-flow: column wrap;
}
.row {
    display: flex;
    flex-flow: row wrap;
}
.row > *             { margin-left: 5px; }
.row > *:first-child { margin-left: 0; }
.span  { flex: 1; }
.hfill { width: 100%; }
.right  { justify-content: right; }
.left  { justify-content: left; }
.center { justify-content: center; }
.middle { 
    justify-content: center;
    align-items: center; 
}


/*
 *
 * Text
 *
 */
.textbox {
    padding: 20px 15px;
    border: 3px solid black;
    border-radius: 5px;
    text-align: center;
}
.info {
    border-color: var(--color-info);
    color: var(--color-info);
}
.success {
    border-color: var(--color-success);
    color: var(--color-success);
}
.error {
    border-color: var(--color-error);
    color: var(--color-error);
}
.tab {
    margin-left: 20px;
}
.tabtab {
    margin-left: 40px;
}
.title {
    margin-bottom: 20px;
}
.content {
    margin-top: 20px;
}


/*
 *
 * Header
 *
 */
header { 
    background: var(--color-theme1); 
    z-index: 3; 
}


/*
 *
 * Menu
 *
 */
.menu {
    display: flex;
    flex-flow: row nowrap; 
    margin: 0 20px;
    justify-content: space-between;
}
.menusection {
    margin: 0;
}
.submenu {
    display: none;
    width: 100%;
}
.menu-group {
    flex: 1;
    position: relative;
}
.menu .menu-group:hover .submenu {
    display: flex;
    flex-flow: column wrap;
	position: absolute;
    top: var(--header-height);
    z-index: 1000;
}
.menu-item { 
    padding: 0 20px;
    min-height: var(--header-height);
    cursor: pointer;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center; 
    font-size: 1.2rem;
    font-weight: bold;
}
nav.menu > .menusection:first-of-type .menu-item {
    font-size: 26px;
}
nav.menu > .menusection:first-of-type .menu-item .icon {
    font-size: 32px;
    margin-top: -2px;
}
/* .menu-group > .menu-item             { border-right: 1px solid var(--color-theme-border); }
.menu-group:first-child > .menu-item { border-left: 1px solid var(--color-theme-border); }
.submenu .menu-item                  { border-top: 1px solid var(--color-theme-border); } */
.menu, 
.submenu { 
    background: var(--color-theme2); 
    color: white;
}
.menu-group:hover,
.menu-item:hover { 
    background: var(--color-theme-hover); 
    color: white;
}
.hamburger {
    display: none;
    text-align: center;
}
.hamburger i {
    margin-top: 8px;
    width: 30px;
}
.lang {
    width: 22px;
    margin-top: 3px;
    margin-left: 7px;
}
.fa-language {
    text-align: center;
    width: 48px;
    font-size: 1.5rem;
}
@media only screen and (max-width: 900px) {
    .menu {
        margin: 0;
    }
    .hamburger {
        display: block;
    }
    .hamburger > i {
        font-size: 1.7rem;
    }
    .hamburger-menu {
        display: none;
        position: fixed;
        top: var(--header-height);
        right: 0px;
        height: calc(100% - var(--header-height) - var(--footer-height));
    }
    .menu-item {
        font-size: 1rem;
    }
    .fa-language {
        text-align: right;
        font-size: 1.35rem;
    }
    .hamburger-menu .menu-item,
    .hamburguer-menu .menu-group {
        justify-content: right;
        width: 100%;
    }
}
@media only screen and (max-width: 800px) and (max-height: 400px) {
}

/*
 *
 * Footer
 *
 */
footer {
    height: var(--footer-height);
    background: var(--color-theme1); 
    color: white;
}
footer a {
    font-weight: bold;
} 
@media only screen and (max-height: 400px) {
    :root {
        --header-height: 35px;
    }
    footer {
        display: none !important;
    }
    .hamburger-menu {
        height: calc(100% - var(--header-height));
    }
    .hamburger > i {
        margin-top: 6px;
        font-size: 1.5rem;
    }
    .menusection:first-of-type .menu-item {
        font-size: 23px;
    }
    .menusection:first-of-type .menu-item .icon {
        font-size: 28px;
        margin-top: -2px;
    }
}



.hidden {
    display: none;
}
.flex {
    display: flex;
}
.block {
    display: block;
}