#mapdiv {
    flex: 1;
    cursor: default;
    z-index: 1;
}

.leaflet-popup-content {
    margin: 0;
    padding: 10px 15px;
}
.leaflet-popup-content p {
    font-size: 1rem;
    margin: 0 0 5px;
}
.leaflet-popup-content p:last-of-type {
    margin: 0px;
}
.leaflet-popup-content .confirm p {
    text-align: center;
}
.leaflet-popup-content .button {
    width: calc(50% - 3px);
    padding: 1px 0;
    margin-top: 8px;
    font-size: 1rem;
    border-radius: 3px;
    font-weight: normal;
}
.leaflet-popup-content .button:first-of-type {
    margin-right: 3px;
}
.leaflet-popup-content label {
    font-weight: bold;
    font-size: 1rem;
    display: inline-block;
    margin: 0;
}
.leaflet-popup-content span {
    font-size: 0.9rem;
}
.leaflet-popup-content {
    width: 200px;
}
.leaflet-popup-content .info {
    color: black;
}
