.modalwp {
    display: none;
	position: fixed;
	z-index: 2;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.4);
}

.modal {
    background-color: white;
	margin: 100px auto;
	max-height: calc(100% - 220px);
    padding: 20px 30px 20px 30px;
    /* box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75); */
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.4);
    border-radius: 7px;
	overflow-y: auto;
	animation: animatezoom 0.6s
}

@keyframes animatezoom {
	from { transform: scale(0) }
	to { transform: scale(1) }
}

.ex {
    float: right;
	font-size: 35px;
	font-weight: bold;
    cursor: pointer;
    margin-top: -15px;
    margin-right: -15px;
}
.ex:hover {
	color: red;
}
